<body>
  <%= flash[:notice] %>
  <div class = "show-title">
  <p><strong>Title : </strong><%= @book.title %></p>
  </div>
  <div class = "show-body">
  <p><strong>Body : </strong><%= @book.body %></p>
  </div>
  <div class = "link-edit-back">
  <section class = "link"><%= link_to "Edit", edit_book_path(@book.id) %></section>
  <section class = "link"><%= link_to "Back", "/books" %></section>
  </div>
</body>